* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  max-width: 1700px;
  margin: auto;
  padding: 1em;
}

blockquote {
  border-left: 0.5em solid #f5f5f5;
  margin: 0;
  padding: 1em 1.5em 1em 1em;
}

footer {
  font-size: 14px;
  opacity: .7;
  text-align: center;
}

.CodeMirror {
  max-width: 818px;
}

.editors {
  display: flex;
  min-height: 400px;
}
.editor {
  height: auto;
  flex-basis: 50%;
}
.editor:first-of-type {
  padding-right: 1em;
}
.editor:last-of-type {
  padding-left: 1em;
}

#error {
  border-left: 0.5em solid #c00;
  padding: 0.5em 0.5em 0.5em 1em;
  background: #f5f5f5;
  display: none;
}
#error.show {
  display: inherit;
}
#error mark {
  background: #f8ca75;
}

@media (max-width: 500px) {
  .editors {
    display: block;
  }
  .editor {
    padding: 0 !important;
  }
}
